/* typography */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-1: #0f1724;
  --bg-2: #0b1220;
}

body {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  @apply dark:text-white
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  @apply font-header font-semibold
}

p1{
  @apply  font-normal font-body
}
.back{
  background-color: transparent;
}
.premium{
  @apply hover:border-2 border-blue-300  hover:-translate-y-2 transform duration-150
}
.complete{
  background: url(/login-bg.jpg) no-repeat;
  background-attachment: fixed;
  @apply bg-cover
}
.wrapper{
  position: relative;
 @apply w-[35%]  max-md:w-[65%] px-4 py-3 bg-green-400  rounded-sm ;

}

.input-box {
  @apply relative font-header
}

.input-box input{
  @apply rounded-sm cursor-text
}

.icons{
  @apply relative text-black top-5 -left-2 p-3
}
